body, html {
  margin: 0;
}
body,
html,
.wealth-wrapper-outer
.wealth-row {
  min-height: 100%;
}
.title-screen {
  width: 100vw;
  min-width: 100vw;
}
h1 {
  text-align: center;
  font-size: 60px;
  line-height: 0.9;
  width: 100%;
  margin-top: 100px;
}
.title-screen h3 {
  text-align: center;
  font-size: 2    0px;
  width: 100%;
}
.scroll-this-way {
  align-self: flex-end;
  width: 350px;
  height: 165px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 42px;
  padding-left: 48px;

  font-size: 30px;
  color: #00000033;

  background-image: url(img/right.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50px 40px;

  animation-name: bouncy-arrow;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
  animation-duration: 3s;
}
.footer {
  position: absolute;
  bottom: 40px;
  text-align: center;
  font-size: 12px;
  width: 100%;
}
@media (max-width: 450px) {
  .scroll-this-way {
    right: -35vw;
  }
}
@keyframes bouncy-arrow {
  0% {background-position: 50px 40px;}
  20% {background-position: 50px 40px;}
  25% {background-position: 70px 40px;}
  30% {background-position: 45px 40px;}
  35% {background-position: 70px 40px;}
  40% {background-position: 50px 40px;}
  100% {background-position: 50px 40px;}
}
.wealth-wrapper-outer {
  font-family: sans-serif;
  overflow: visible;
  display: inline-block;
}
.center-sticky {
  position: sticky;
  left: 50%;
  transform: translate(-50%, 0);
}
.navigation {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}
.navigation .button {
  color: rgba(0,0,0,0);
  width: 20px;
  display: block;
  height: 20px;
  border-radius: 100%;
  background-position: 5px;
  background-color: #d8d8d8;
  box-shadow: inset 1px 6px 12px #e2e2e2, inset -1px -10px 5px #a9a9a9, 1px 2px 1px #797979;
  overflow: hidden;
  margin: 4px;
}
.navigation .button-inner {
  background-repeat: no-repeat;
  background-size: 8px;
  height: 100%;
  background-position: 5px;
}
.navigation .prev-button .button-inner {
  background-image: url(img/prev.svg);
}
.navigation .next-button .button-inner {
  background-image: url(img/next.svg);
  background-position: 7px 5px;
}
.navigation .home-button .button-inner {
  background-image: url(img/house.svg);
  background-size: 12px;
  background-position: 4px 4px;
}
.navigation .about-button .button-inner {
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  text-indent: 5px;
  line-height: 22px;
}


.wealth-row {
  display: inline-flex;
}
.arrow {
  margin-left: -6px;
  margin-top: 5px;
}
.wealth-wrapper {
  margin: 1em 3em;
}
.wealth {
  background-color: black;
  align-items: center;
  display: flex;
}
.title {
  margin-bottom: 5px;
}
.billion .wealth > .wealth-title {
  flex-basis: 110px;
  position: static;
}
.wealth > .wealth-title {
  flex-basis: 1%;
  padding: 10px;
}
@media (max-width: 450px) {
  .wealth-title {
    font-size: 19px;
  }
}
.wealth-title {
  align-self: flex-start;
  position: sticky;
  left: 0;
  margin-bottom: 5px;
  color: black;
  margin-top: 0;
}
.middle{
  margin-top: 50%;
  margin-bottom: auto;
}
.text-infobox .title,
.infobox .chart {
  max-width: 450px;
}
.infobox .chart img {
  max-width: 100%;
}
.infobox .chart,
.infobox .title-square-wrapper,
.infobox .title {
  font-weight: normal;
  line-height: 1.4;
  width: 96vw;
  max-width: 600px;
}
@media (max-width: 450px) {
  .infobox .midtext,
  .infobox .title {
    width: 90vw;
  }
}
.infobox.year-veteran .title {
  position: sticky;
  left: 0;
}
.infobox .chart,
.infobox .piechart,
.infobox .worldchart,
.infobox .chart-outer,
.infobox .midtext,
.infobox .title-square-wrapper,
.text-infobox .title {
  position: sticky;
  left: 50%;
  transform: translate(-50%);
}
@media (max-width: 450px) {
  .infobox.line-chart .chart-outer {
    left: 5px;
    width: 98vw;
  }
  .infobox .square,
  .infobox .title-square-wrapper,
  .infobox .piechart,
  .infobox .chart-outer,
  .infobox .midtext,
  .infobox .title {
    left: 10px;
    transform: none;
  }
}
.sub-infobox .square,
.sub-infobox .midtext,
.sub-infobox .title {
  position: static;
}
.infobox {
  z-index: 1;
  margin-left: 8000px;
  width: 15000px;
}
.flex {
  display: flex;
}
.infobox.first {
  margin-left: 30000px;
}
.infobox.first .title {
  max-width: 390px;
}
.infobox.coming-up .title,
.infobox.five-pixels .title {
  max-width: 280px;
}
.infobox-half {
  margin-left: 4000px;
}
.infobox-quarter {
  margin-left: 2000px;
}
.infobox-close {
  margin-left: 500px;
}
.sub-infobox {
  margin: 0 40px;
}
.sub-infobox .title {
  width: 430px;
}
.midtext-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  width: 60%;
}
.column-infobox .sub-infobox {
  margin-bottom: 20px;
}
.one-thousand {
  width: 1px;
  height: 1px;
  margin-top: 5px;
}
.median {
  width: 320px;
}
.median .wealth {
  width: 8.09px;
  height: 8.09px;
}
.explainer {
  font-size: 16px;
  font-weight: normal;
}
.million {
  width: 150px;
}
.million .wealth {
  width: 31.62px;
  height: 31.62px;
  background-color: #4CAF50;
}
.billion .wealth {
  width: 2000px;
  height: 500px;
  background-color: #03A9F4;
}
@media (max-width: 450px) {
  .billion .wealth {
    border-bottom: 3px dotted #007fb7;
  }
}
.debt .wealth {
  width: 580000px;
  height: 500px;
  background-color: orange;
}
.ruler {
  background-image: url('img/ruler.svg');
  background-repeat: repeat-x;
  background-position: 0 470px;
}
.key {
  position: absolute;
  top: 450px;
  width: 170px;
  background-image: url(img/scale.svg);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  display: flex;
  justify-content: center;
}
.key > span {
  display: inline-block;
}
.debt .key > span {
  background-color: orange;
}
.shadow {
  box-shadow: -3px 5px 10px;
}
.counter {
  align-self: flex-end;
  left: 10px;
  position: sticky;
  transform: translate(0, 27px);
  color: black;
  padding: 5px;
  min-width: 140px;
}
.lifetime .square {
  width: 46.9px;
  height: 46.9px;
  background-color: rgb(217, 255, 0);
}
.priciest-medicine .square {
  width: 94.87px;
  height: 94.87px;
  background-color: rgb(0, 255, 213);
}
.sasin .square {
  width: 275.68px;
  height: 275.68px;
  background-color: rgba(225, 0, 255, 0.63);
}

.szumowski {
  width: auto;
}
.szumowski .square {
  height: 400px;
  width: 500x;
  background-color: #bce1ff;
  border: 5px dashed #5f5f5f;
  box-sizing: border-box;
}
.szumowski .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.szumowski .key {
  top: 310px;
}
.szumowski .key > span {
  background-color: #03A9F4;
}

.zrzutka {
  width: auto;
}
.zrzutka .square {
  height: 400px;
  width: 1242x;
  background-color: #d270ff;
  border: 5px dashed #9b00af;
  box-sizing: border-box;
}
.zrzutka .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.zrzutka .key {
  top: 310px;
}
.zrzutka .key > span {
  background-color: #03A9F4;
}

.psychiatry {
  width: auto;
}
.psychiatry .square {
  height: 400px;
  width: 1260x;
  background-color: #03A9F4;
  border: 5px dashed #0078af;
  box-sizing: border-box;
}
.psychiatry .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.psychiatry .key {
  top: 310px;
}
.psychiatry .key > span {
  background-color: #03A9F4;
}

.laptop {
  width: auto;
}
.laptop .square {
  height: 400px;
  width: 1444x;
  background-color: #8648f8;
  border: 5px dashed #5200af;
  box-sizing: border-box;
}
.laptop .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.laptop .key {
  top: 310px;
}
.laptop .key > span {
  background-color: #03A9F4;
}

.a2 {
  width: auto;
}
.a2 .square {
  height: 400px;
  width: 1444x;
  background-color: #c0f403;
  border: 5px dashed #6caf00;
  box-sizing: border-box;
}
.a2 .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.a2 .key {
  top: 310px;
}
.a2 .key > span {
  background-color: #03A9F4;
}

.wosp {
  width: auto;
}
.wosp .square {
  height: 400px;
  width: 3750px;
  background-color: #03A9F4;
  border: 5px dashed #0078af;
  box-sizing: border-box;
}
.wosp .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.wosp .key {
  top: 310px;
}
.wosp .key > span {
  background-color: #03A9F4;
}

.dentistry {
  width: auto;
}
.dentistry .square {
  height: 400px;
  width: 4777px;
  background-color: #ff6e9a;
  border: 5px dashed #af0066;
  box-sizing: border-box;
}
.dentistry .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.dentistry .key {
  top: 310px;
}
.dentistry .key > span {
  background-color: #03A9F4;
}

.stadium {
  width: auto;
}
.stadium .square {
  height: 400px;
  width: 4940px;
  background-color: #aaffff;
  border: 5px dashed #00a9af;
  box-sizing: border-box;
}
.stadium .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.stadium .key {
  top: 310px;
}
.stadium .key > span {
  background-color: #03A9F4;
}

.orlik {
  width: auto;
}
.orlik .square {
  height: 400px;
  width: 6192px;
  background-color: #90ff86;
  border: 5px dashed #37af00;
  box-sizing: border-box;
}
.orlik .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.orlik .key {
  top: 310px;
}
.orlik .key > span {
  background-color: #03A9F4;
}

.pit {
  width: auto;
}
.pit .square {
  height: 400px;
  width: 6250px;
  background-color: #03A9F4;
  border: 5px dashed #0078af;
  box-sizing: border-box;
}
.pit .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.pit .key {
  top: 310px;
}
.pit .key > span {
  background-color: #03A9F4;
}

.clean-air {
  width: auto;
}
.clean-air .square {
  height: 400px;
  width: 9463px;
  background-color: #8648f8;
  border: 5px dashed #5200af;
  box-sizing: border-box;
}
.clean-air .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.clean-air .key {
  top: 310px;
}
.clean-air .key > span {
  background-color: #03A9F4;
}

.doctor-edu {
  width: auto;
}
.doctor-edu .square {
  height: 400px;
  width: 12500px;
  background-color: #03A9F4;
  border: 5px dashed #0078af;
  box-sizing: border-box;
}
.doctor-edu .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.doctor-edu .key {
  top: 310px;
}
.doctor-edu .key > span {
  background-color: #03A9F4;
}

.metro {
  width: auto;
}
.metro .square {
  height: 400px;
  width: 14615px;
  background-color: #c0f403;
  border: 5px dashed #6caf00;
  box-sizing: border-box;
}
.metro .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.metro .key {
  top: 310px;
}
.metro .key > span {
  background-color: #03A9F4;
}

.mars {
  width: auto;
}
.mars .square {
  height: 400px;
  width: 23280px;
  background-color: #ff6e9a;
  border: 5px dashed #af0066;
  box-sizing: border-box;
}
.mars .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.mars .key {
  top: 310px;
}
.mars .key > span {
  background-color: #03A9F4;
}

.apartments {
  width: auto;
}
.apartments .square {
  height: 400px;
  width: 62500px;
  background-color: #aaffff;
  border: 5px dashed #00a9af;
  box-sizing: border-box;
}
.apartments .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.apartments .key {
  top: 310px;
}
.apartments .key > span {
  background-color: #03A9F4;
}

.gigafactory {
  width: auto;
}
.gigafactory .square {
  height: 400px;
  width: 66416px;
  background-color: #03A9F4;
  border: 5px dashed #0078af;
  box-sizing: border-box;
}
.gigafactory .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.gigafactory .key {
  top: 310px;
}
.gigafactory .key > span {
  background-color: #03A9F4;
}

.akcyza {
  width: auto;
}
.akcyza .square {
  height: 400px;
  width: 82500px;
  background-color: #c0f403;
  border: 5px dashed #6caf00;
  box-sizing: border-box;
}
.akcyza .square .title {
  padding: 10px;
  position: sticky;
  left: 1px;
  display: inline-block;
}
.akcyza .key {
  top: 310px;
}
.akcyza .key > span {
  background-color: #03A9F4;
}

.celebrities {
  display: flex;
  width: auto;
}
.lewandowski .square {
  height: 350px;
  width: 1429px;
  background-color: #406994;
}
.morawiecki .square {
  width: 200px;
  height: 200px;
  background-color: #64A8F0;
}
.amber .square {
  width: 2402px;
  height: 350px;
  background-color: #71889e;
}
.pol-wealth .square {
  width: 16px;
  height: 16px;
  background-color: #0661b9;
}
.apartament .square {
  width: 114px;
  height: 114px;
  background-color: #00478a;
}
.house .square {
  width: 324px;
  height: 324px;
  background-color: #9daebf;
}
.about {
  visibility: hidden;
  transition: opacity .7s;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.65);
}
.about.open {
  visibility: visible;
  opacity: 1;
}
.modal-inner {
  opacity: 1;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  overflow: scroll;
  transition: height .7s, width .7s;
  background-color: white;
}
.modal-text {
  width: calc(90vw - 40px);
  height: calc(95vh - 40px);
  overflow: visible;
  padding: 20px;
}
.about.open .modal-inner,
.about.open .modal-inner {
  height: 95vh;
  width: 90vw;
}

@media (max-width: 450px) {
  .all-of-them .title {
    width: 340px;
  }
}
.instructions {
  transition: opacity 300ms;
  margin-top: 40px;
  max-width: 80%;
  color: black;
  font-size: 14px;
  opacity: 0;
}
.instructions.show {
  opacity: 1;
}
@media (max-width: 450px) {
  .instructions {
    display: none;
  }
}
.medical-chart {
  text-align: center;
}
